<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <form action="order" method="POST" novalidate>
        <h1>Ticker :</h1>
        <input type="text" name="ticker" id="ticker" placeholder="Ticker"> <br>
        <br>
        <h1>Side :</h1>
        <input type="text" name="side" id="side" placeholder="Buy or Sell"> <br>
        <br>
        <h1>Order Type :</h1>
        <input type="text" name="order_type" id="order_type" placeholder="Order Type"> <br> <br>
        <br>
        <h1>Quantity : </h1>
        <input type="number" name="quantity" id="quantity" placeholder="quantity"> <br> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>